@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
    background-image: url('./../assets/pexels-jonathan-borba-3259624.jpg');
    background-position: middle;
    background-size: cover;
    background-repeat: no-repeat;
}
